<div class="about-section">
  <h1>About Us Page</h1>
  <p>We are group of techies who are currently doing Internship in Capgemini</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="C:\Users\ASUS\Desktop\html\Frontend\src\app\components\about-us\snapchat.jpg" alt="Ritwij" style="width:10%">
      <div class="container">
        <h2>Ritwij Raj</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9546978579</p>
        <p> Email Id - ritwijr@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Vishnu" style="width:10%">
      <div class="container">
        <h2>Vishnuwardhan Reddy</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9182604570</p>
        <p> Email Id - thisisvvr@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Akash" style="width:10%">
      <div class="container">
        <h2>Akash Sunil</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9538212329</p>
        <p> Email Id - akashsunil38@gmail.com</p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="" alt="Aditya" style="width:10%">
      <div class="container">
        <h2>Aditya Prashanth</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9632775875</p>
        <p> Email Id - adityakangokar24@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="" alt="Amruth" style="width:10%">
      <div class="container">
        <h2>Amruth N</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 7760429619</p>
        <p> Email Id - amruth2603@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Siddhesh" style="width:10%">
      <div class="container">
        <h2>Siddhesh</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9483093761</p>
        <p> Email Id - siddheshshiriyara@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Sandeep" style="width:10%">
      <div class="container">
        <h2>Sandeep Uppugalla</h2>
        <p class="title">Analyst Capgemini</p>
        <p> Mobile No. - 9502984810</p>
        <p> Email Id - Sandeepuppugalla@gmail.com</p>
      </div>
    </div>
  </div>
</div>